img{
    height: 100px;
    width: 100px;
}
.main,
.main2,
.main3,
.main4,
.footer{
    border: 2px solid;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.links{
    display: flex;
}

.container{
    display: flex;
    margin: 80px;
    gap: 50px;
}

.left{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
}

button{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding:16px;
    width: 100px;
    height: 60px;
}

.text{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 40px
}

.container2{
    display: flex;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main2{
    padding: 0 80px 80px 80px;
}

.main3{
    display: flex;
    flex-direction: column;
    padding:80px;
}

.quote
{
    text-align: left;
}
.author{
    text-align:right;
}

.main4{
    
}
.container3{
    display:flex;
    flex-direction: column;
}

.container4{
    border: 2px solid;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}